@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Quicksand',NanumSquare,나눔스퀘어,Nanum Barun Gothic,나눔바른고딕,"Nanum Barun Gothic",NanumGothic,"나눔고딕","Apple SD Gothic Neo",Dotum,"돋움",sans-serif; font-style: normal;}
*::after,*::before{
    box-sizing: border-box;
}
ul, ol, li{list-style: none}
a{text-decoration: none; color: inherit;}
.cf::after{content: ''; display: block; clear: both;}


/*header 시작*/
#header{
    width: 
}

