@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@font-face{
    font-family:NanumSquare;
    src:local(※), url('NanumSquareR.woff') format('woff');
    font-weight: normal; 
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: NanumSquare, 나눔스퀘어, Nanum Barun Gothic, 나눔바른고딕, "Nanum Barun Gothic", NanumGothic, "나눔고딕", "Apple SD Gothic Neo", Dotum, "돋움", sans-serif;
    font-style: normal;
}
*::after,
*::before {
    box-sizing: border-box;
}

ul,ol,li {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit;
}

.cf::after {
    content: '';
    display: block;
    clear: both;
}

body{
    position: relative;
}

/*header 시작*/
#header {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid rgba(255, 255, 255 , .5);
    z-index: 10;
}
#header .logo{
    float: left;
    display: block;
    width: 25%;
    padding: 20px 0 0 30px;
}
#header .logo img{
    display: block;
}
#header nav{
    float: left;
    width: 50%;
}
#header .mainmenu > li{
    float: left;
    width: 16.666%;
    text-align: center;
}
#header .mainmenu > li > a{
    display: block;
    font-weight: bold;
    line-height: 90px;
    color: #fff;
}
#header .mainmenu > li:hover > a,
#header .mainmenu > li:nth-of-type(1).active > a,
#header .mainmenu > li:nth-of-type(6).active > a{
    color: #333;
    background: #fff;
}
#header .submenu{
    display: none;
}
#header .submenu li a{
    display: block;
    line-height: 40px;
    color: #333;
    background: #fff;
}
#header .submenu li a:hover{
    color: #2427aa;
}
#header .gnb{
    float: left;
    width: 25%;
    padding: 34px 40px 0;
    text-align: right;
}
#header .gnb > li{
    display: inline-block;
}
#header .gnb > li > a{
    margin: 0 15px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
}
/*header 끝*/
/*반응형 1200*/
@media screen and (min-width:768px) and (max-width:1200px){
    #header .logo{
        width: 25%;
        padding: 20px 10px 0;
    }
    #header .logo img{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }
    #header nav{
        width: auto;
    }
    #header .mainmenu > li{
        width: auto;
    }
    #header .mainmenu > li > a{
        padding: 0 8px;
        font-size: 14px;
    }
    #header .submenu li a{
        font-size: 12px;
        letter-spacing: -1px;
    }
    #header .gnb{
        float: right;
        width: auto;
        padding: 34px 0;
    }
    #header .gnb > li > a{
        margin: 0 5px;
        font-size: 12px;
    }
}
/*반응형 768 태블릿*/
@media screen and (min-width:360px) and (max-width:768px){
    #header {
        height: 60px;
    }
    #header .logo{
        float: none;
        width: 270px;
        margin: 5px auto;
        padding: 0 0;
    }
    #header nav{
        display: none; /* 정리후 삭제 */
        float: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        height: 100%;
        background: #40494e;
    }
    #header .mainmenu > li{
        float: none;
        width: 100%;
        text-align: center;
    }
    #header .mainmenu > li > a{
        padding: 14px 50px;
        border-bottom: 1px solid #333;
        line-height: 22px;
    }
    #header .mainmenu > li:hover > a{
        color: #333;
        background: #fff;
    }
    #header .submenu{
        display: none;
    }
    #header .submenu li a{
        display: block;
        line-height: 40px;
        color: #333;
        background: #fff;
    }
    #header .submenu li a:hover{
        color: #2427aa;
    }
    #header .gnb{
        display: none; /* 정리후 삭제 */
        float: none;
        width: 25%;
        padding: 34px 40px 0;
        text-align: right;
    }
    #header .gnb > li{
        display: inline-block;
    }
    #header .gnb > li > a{
        margin: 0 15px;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
    }
}
/*반응형 360*/
@media screen and (max-width:360px){
    
}

/*visual 시작*/
#visual{
    width: 100%;
}
#visual .swiper-container{
    position: relative;
}
#visual .swiper-wrapper{
    position: relative;
}
#visual .swiper-slide{
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#visual .swiper-slide:nth-of-type(1){
    background-image: url(img/visual_1.jpg);
}
#visual .swiper-slide:nth-of-type(2){
    background-image: url(img/visual_2.jpg);
}
#visual .swiper-slide:nth-of-type(3){
    background-image: url(img/visual_3.jpg);
}
#visual .swiper-slide .text{
    display: block;
    margin: 0 auto;
    padding-top: 220px;
}
#visual .swiper-pagination{
    width: auto;
    left: auto;
    right: 33px;
}
#visual .swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 1;
}
#visual .swiper-pagination-bullet-active{
    width: 36px;
    height: 10px;
    border-radius: 5px;
    background: rgba(51, 51, 51);
}
#visual .swiper-prev{
    position: absolute;
    left: 0;
    top: 50%;
    width: 30px;
    height: 52px;
    background: url(img/slide_skin_type.png);
    background-position: 0 -90px;
    cursor: pointer;
    z-index: 1;
}
#visual .swiper-next{
    position: absolute;
    right: 0;
    top: 50%;
    width: 30px;
    height: 52px;
    background: url(img/slide_skin_type.png);
    background-position: -50px -90px;
    cursor: pointer;
    z-index: 1;
}
#visual .swiper-start{
    position: absolute;
    right: 20px;
    bottom: 13px;
    width: 12px;
    height: 12px;
    background: url(img/slide_skin_type.png);
    background-position: -100px -119px;
    cursor: pointer;
    z-index: 1;
}
#visual .swiper-stop{
    position: absolute;
    right: 20px;
    bottom: 13px;
    width: 12px;
    height: 12px;
    background: url(img/slide_skin_type.png);
    background-position: -100px -135px;
    cursor: pointer;
    z-index: 1;
}
/*visual 끝*/
/*반응형 1200*/
@media screen and (min-width:768px) and (max-width:1200px){
    
}
/*반응형 768 태블릿*/
@media screen and (min-width:360px) and (max-width:768px){
    #visual{
        width: 100%;
    }
    #visual .swiper-slide{
        height: 350px;
    }
    #visual .swiper-slide .text{
        width: 50%;
        padding-top: 120px;
    }
}
/*반응형 360*/
@media screen and (max-width:360px){
    
}

/*content1 시작*/
#content1{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
#content1 .left_box{
    float: left;
    width: 300px;
    border-right: 1px solid rgba(221, 221, 221);
}
#content1 .left_box p{
    font-size: 13px;
    font-weight: 600;
    line-height: 125%;
    color: #7e7e7e;
}
#content1 .left_box p span{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #595959;
}
#content1 .left_box strong{
    float: left;
    width: 36px;
    height: 21px;
    margin: 7px 10px 10px 0;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
    border-radius: 3px;
    color: #fff;
    background: #0d7ccd;
}
#content1 .left_box .fax strong{
    background: #595959; 
}
#content1 .left_box a p{
    padding-top: 5px;
    font-size: 26px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: -1px;
    color: #0176cc;
}
#content1 .left_box .fax a p{
    color: #595959;
}
#content1 .right_box{
    float: left;
}
#content1 .right_box ul{
    width: 900px;
}
#content1 .right_box li{
    float: left;
    width: 20%;
}
#content1 .right_box a{
    display: block;
    text-align: center;
}
#content1 .right_box p{
    margin: 20px 0;
    font-size: 19px;
    font-weight: bold;
    color: #333;
}
#content1 .right_box .btn{
    display: block;
    width: 34px;
    height: 34px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 200;
    line-height: 25px;
    border: 2px solid #007bd0;
    border-radius: 3px;
    color: #007bd0;
    transition: all linear .3s;
}
#content1 .right_box .btn:hover{
    color: #fff;
    background: #007bd0;
}
/*content1 끝*/
/*반응형 1200*/
@media screen and (min-width:768px) and (max-width:1200px){
    #content1{
        width: 768px;
    }
    #content1 .left_box{
        float: none;
        width: 100%;
        padding-bottom: 30px;
        border-right: none;
        border-bottom: 1px solid rgba(221, 221, 221);
        text-align: center;
    }
    #content1 .left_box div{
        margin: 10px 0;
    }
    #content1 .left_box strong{
        float: none;
        vertical-align: top;
        display: inline-block;
        margin: 7px 0px 10px 0;
    }
    #content1 .left_box a{
        display: inline-block;
        vertical-align: top;
    }
    #content1 .left_box a p{
        text-align: left;
        width: 170px;
    }
    #content1 .right_box{
        float: none;
        padding-top: 30px;
    }
    #content1 .right_box ul{
        width: 768px
    }
}
/*반응형 768 태블릿*/
@media screen and (min-width:360px) and (max-width:768px){
    #content1{
        width: 100%;
        padding-bottom: 0;
    }
    #content1 .left_box{
        width: 100%;
        margin-bottom: 20px;
        padding: 0;
        border-bottom: none;
        text-align: center;
    }
    #content1 .left_box div{
        margin: 5px 0;
    }
    #content1 .left_box strong{
        float: none;
        vertical-align: top;
        display: inline-block;
        margin: 7px 0px 10px 0;
    }
    #content1 .left_box a{
        display: inline-block;
        vertical-align: top;
    }
    #content1 .left_box a p{
        text-align: left;
        width: 170px;
    }
    #content1 .right_box{
        float: none;
        padding-top: 30px;
    }
    #content1 .right_box ul{
        width: 100%
    }
    #content1 .right_box li{
        width: 50%;
        border-top: 1px solid rgba(221, 221, 221);
        border-top: 1px solid rgba(221, 221, 221);
    }
    #content1 .right_box li:nth-of-type(1){
        width: 100%;
    }
    #content1 .right_box a{
        padding: 20px 0;
    }
}
/*반응형 360*/
@media screen and (max-width:360px){
    
}

/*content2 시작*/
#content2{
    width: 100%;
}
#content2 .left_box{
    float: left;
    width: 50%;
    height: 300px;
    background: url(img/section_bg1-1.jpg) no-repeat center;
    background-size: cover;
}
#content2 .right_box{
    float: left;
    width: 50%;
    height: 300px;
    padding: 55px 30px 0 30px;
    color: #fff;
    background: url(img/section_bg2-1.jpg) no-repeat center;
    background-size: cover;
}
#content2 .right_box .title{
    font-size: 29px;
    line-height: 29px;
}
#content2 .right_box .title span{
    margin-left: 30px;
    font-size: 19px;
    vertical-align: top;
}
#content2 .right_box .title span::before{
    content: '';
    display: inline-block;
    width: 2px;
    height: 20px;
    margin: 6px 10px 0 0;
    vertical-align: top;
    background: #fff;
}
#content2 .right_box .des{
    margin: 20px 0 40px;
    font-size: 13px;
    line-height: 150%;
}
#content2 .right_box .btn{
    display: block;
    width: 180px;
    height: 40px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 14px;
    line-height: 38px;
    transition: all linear .3s;
}
#content2 .right_box .btn:hover{
    color: #333;
    background: #fff;
}
/*content2 끝*/
/*반응형 1200*/
@media screen and (min-width:768px) and (max-width:1200px){
    #content2 .right_box .des{
        margin: 20px 0 20px;
    }
    #content2 .right_box .des br{
        display: none;
    }
}
/*반응형 768 태블릿*/
@media screen and (min-width:360px) and (max-width:768px){
    #content2{
        width: 100%;
    }
    #content2 .left_box{
        float: none;
        width: 100%;
        height: 150px;
    }
    #content2 .right_box{
        float: none;
        width: 100%;
        height: 230px;
        padding: 20px 30px 0 20px;
        text-align: center;
    }
    #content2 .right_box .title{
        font-size: 18px;
        line-height: 18px;
    }
    #content2 .right_box .title span{
        margin-left: 15px;
        font-size: 16px;
    }
    #content2 .right_box .title span::before{
        height: 15px;
        margin: 2px 10px 0 0;
    }
    #content2 .right_box .des{
        margin: 20px 0 20px;
        text-align: center;
    }
    #content2 .right_box .des br{
        display: none;
    }
    #content2 .right_box .btn{
        width: 150px;
        height: 30px;
        margin: 0 auto;
        font-size: 12px;
        line-height: 28px;
    }
}
/*반응형 360*/
@media screen and (max-width:360px){
    
}

/*content3 시작*/
#content3{
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
#content3 .left_box{
    float: left;
    width: 280px;
    margin-right: 20px;
    font-weight: 500;
    color: #fff;
}
#content3 .left_box .online{
    position: relative;
    background: url(img/ban3-1bg.jpg) no-repeat center;
    background-size: cover;
}
#content3 .left_box .data{
    position: relative;
    background: url(img/ban3-2bg.jpg) no-repeat center;
    background-size: cover;
}
#content3 .left_box a{
    display: block;
    height: 130px;
    padding: 40px 20px;
    overflow: hidden;
}
#content3 .left_box p{
    font-size: 20px;
}
#content3 .left_box p span{
    font-size: 14px;
}
#content3 .left_box .arrow{
    position: absolute;
    right: 40px;
    top: 60px;
    transition: all linear .2s;
}
#content3 .left_box div:hover .arrow{
    right: 30px;
}
#content3 .right_box{
    float: left;
    width: 900px;
    height: 260px;
    padding: 20px;
    border: 1px solid rgba(221, 221, 221);
    font-size: 19px;
    font-weight: bold;
    line-height: 40px;
    color: #333;
    overflow: hidden;
}
#content3 .right_box .title{
    float: left;
    height: 40px;
}
#content3 .right_box .title::before{
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #2427aa;
}
#content3 .right_box .btn{
    float: right;
    height: 40px;
}
#content3 .right_box .swiper-container{
    clear: both;
    width: 860px;
    padding: 20px 0;
}
#content3 .right_box .swiper-slide{
    height: 150px;
}
#content3 .right_box .swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
}
#content3 .right_box .swiper-button-prev,
#content3 .right_box .swiper-button-next{
    color: rgba(255, 255, 255, 0.5);
}
/*content3 끝*/
/*반응형 1200*/
@media screen and (min-width:768px) and (max-width:1200px){
    #content3{
        width: 768px;
    }
    #content3 .left_box{
        width: 210px;
    }
    #content3 .left_box a{
        height: 110px;
        padding: 30px 20px;
    }
    #content3 .left_box .arrow{
        right: 20px;
        top: 60px;
    }
    #content3 .left_box div:hover .arrow{
        right: 10px;
    }
    #content3 .right_box{
        width: 538px;
        height: 220px;
    }
    #content3 .right_box .title{
        height: 20px;
    }
    #content3 .right_box .btn{
        height: 20px;
    }
    #content3 .right_box .swiper-container{
        width: 498px;
        margin: 0 -10px 0 0;
    }
}
/*반응형 768 태블릿*/
@media screen and (min-width:360px) and (max-width:768px){
    #content3{
        width: 100%;
        padding: 0px;
    }
    #content3 .left_box{
        float: none;
        width: 100%;
    }
    #content3 .left_box p{
        font-size: 16px;
    }
    #content3 .left_box p span{
        font-size: 14px;
    }
    #content3 .left_box .arrow{
        right: 40px;
        top: 50px;
    }
    #content3 .left_box div:hover .arrow{
        right: 30px;
    }
    #content3 .right_box{
        float: none;
        width: 100%;
        height: 260px;
        padding: 20px;
        border: none;
        font-size: 16px;
    }
    #content3 .right_box .swiper-container{
        clear: both;
        width: 100%;
        padding: 20px 0;
    }
}
/*반응형 360*/
@media screen and (max-width:360px){
    
}

/*footer 시작*/
#footer{
    width: 100%;
    padding: 30px 0;
    background: rgba(4, 4, 14);
}
#footer .wrap{
    width: 1200px;
    margin: 0 auto;
    color: #9b9b9b;
}
#footer .footer_menu{
    margin-bottom: 20px;
    color: #fff;
}
#footer .footer_menu li{
    display: inline-block;
    position: relative;
    padding: 0 10px;
}
#footer .footer_menu li::after{
    content: '';
    display: block;
    position: absolute;
    left: -1px; top: 50%;
    width: 1px;
    height: 10px;
    margin-top: -4px;
    background: #fff;
}
#footer .footer_menu li:nth-of-type(1){
    padding-left: 0;
}
#footer .footer_menu li:nth-of-type(1)::after{
    display: none;
}
#footer .footer_menu li a{
    font-size: 14px;
}
#footer address{
    font-size: 13px;
}
#footer .copyright{
    margin-top: 5px;
    font-size: 13px;
}
/*footer 끝*/
/*반응형 1200*/
@media screen and (min-width:768px) and (max-width:1200px){
    #footer .wrap{
        width: 768px;
    }
}
/*반응형 768 태블릿*/
@media screen and (min-width:360px) and (max-width:768px){
    #footer{
        padding: 30px 30px;
    }
    #footer .wrap{
        width: 100%;
    }
    #footer .footer_menu li a{
        font-size: 13px;
    }
    #footer address{
        font-size: 12px;
    }
    #footer .copyright{
        font-size: 12px;
    }
}
/*반응형 360*/
@media screen and (max-width:360px){
    
}
