*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Nanum Gothic'; color: #606672;}
ul, ol, li{list-style: none}
a{text-decoration: none}
.cf::after{content: ''; display: block; clear: both}


#header{position: fixed; left: 300px; top: 0; width: calc(100% - 300px); height: 50px; background: #8C98FF}
#header .nav{display: flex;}
#header .nav > li{width: 25%; border-right: 1px solid #eee;  text-align: center; line-height: 50px; color: #eee; font-weight: bold; cursor: pointer;}

#info{position: fixed; left: 0; top: 0; width: 300px; height: 100%; border-right: 1px solid #eee;}
#info > .top > h3{margin-bottom: 30px; text-align: center; font-size: 40px; background: linear-gradient(170deg, #75EBD5 25%, #8C98FF); -webkit-background-clip:text; -webkit-text-fill-color:transparent;}
#info > .top > p{float: left; display: block; width: 230px; margin-bottom: 30px; font-size: 14px; text-align: center;}
#info > .top > button{float: right; width: 50px; height: 20px; margin-top: 7.5px; margin-right: 15px; border: none; border-radius: 3px; font-size: 10px; background: #8C98FF; color: #eee;}
#info > .user_info,
#info > .user_info tr,
#info > .user_info td{border: 2px solid #dedede; border-collapse: collapse;}
#info > .user_info{width: 90%; margin: 0 auto; border-top: 3px solid #75EBD5; border-bottom: 3px solid #8C98FF;}
#info > .user_info td{padding: 10px; text-align: center; font-size: 14px;}
#info > .user_info td:first-child{background: #eee}

#notice,#search,#application,#check{position: fixed; left: 300px; top: 50px; width: calc(100% - 300px); height: calc(100% - 100px); padding: 20px; overflow-y: scroll;}
#search,#application,#check{display: none;}

#notice > h2{margin-bottom: 20px;}
#notice > .notice_list{width: 100%; margin: 0 auto 20px; padding: 10px; border: 5px solid transparent; border-image: linear-gradient(130deg, #75EBD5 30%, #8C98FF); border-image-slice: 1;}
#notice > .notice_list > li{margin-bottom: 10px; font-weight: 500; cursor: pointer}
#notice > .notice_list > li:hover{text-decoration: underline;}
#notice > .notice_list > li:first-child{font-weight: bold; color: #ff0000;}
#notice > .notice_list > li:last-child{margin-bottom: 0;}
#notice > .board{width: 100%; min-height: 300px; margin: 0 auto; padding: 10px; border: 5px solid transparent; border-image: linear-gradient(130deg, #75EBD5 30%, #8C98FF); border-image-slice: 1;}
#notice > .board > li{display: none;}
#notice > .board > li:first-child{display: block;}
#notice > .board > li > img{width: 100%; max-width: 500px;}

#search{}
#search > h2{}
#search > .filter{}
#search > .filter > p{}
#search > .filter > #major{}
#search > .filter > #time{}
#search > .filter > #cate{}
#search > .filter > .search_bar{}
#search > .filter > .submit_btn{}
#search > .class_list{width: 100%;}
#search > .class_list > table,
#search > .class_list > table tr,
#search > .class_list > table td{border: 1px solid #eee; border-collapse: collapse;}
#search > .class_list > table{width: 100%; min-height: 500px;}
#search > .class_list > table tr{}
#search > .class_list > table td{text-align: center; font-size: 12px;}


#footer{position: fixed; left: 300px; bottom: 0; width: calc(100% - 300px); height: 50px; background: #d0d0d1}
#footer > p{text-align: center; font-size: 14px; line-height: 50px;}