header{position: relative; width: 100%; height: 146px;}
header::after{content: ''; position: absolute; top: 90px; left: 0; width: 100%; height: 1px; background: #f0f2f7;}
header .top_box{width: 1170px; height: 90px; margin: 0 auto; overflow: hidden;}
.top_box .menu{float: left; width: 20px; height: 90px; margin-top: 37px; margin-right: 75px; cursor: pointer;}
.top_box .menu li{width: 100%; height: 2px; margin-bottom: 4px; background: #3e425a;}
.top_box .logo{float: left; height: 90px; margin-top: 32px;}
.top_box .logo img{float: left; margin-right: 158px;}
.top_box nav{float: left; height: 90px; margin-top: 35px;}
.top_box nav li{float: left; margin-right: 30px; line-height: 14px;}
.top_box nav li:last-of-type{margin-right: 0;}
.top_box nav a{font-size: 14px; font-family: 'Montserrat'; color: #343e5c;}
.top_box .cart{float: left; height: 26px; margin-left: 140px; margin-top: 33px; cursor: pointer;}
.top_box .cart img{float: left; margin-top: 2px; margin-right: 8px;}
.top_box .cart p{float: left; line-height: 26px; font-size: 11px; font-family: 'Montserrat'; color: #343e5c;}
.top_box .cart p.badge{display: block; width: 24px; height: 24px; margin-left: 7px; border-radius: 10px; line-height: 24px; text-align: center; background: #e3e8f0;}
.top_box .sign_in{float: right; height: 29px; padding: 0 10px; margin-top: 33px; margin-left: 29px; border: 2px solid #e3e8f0; border-radius: 14px; cursor: pointer;}
.top_box .sign_in::after{content: '';clear: both;}
.top_box .sign_in p{font-size: 11px; text-align: center; line-height: 25px; color: #343e5c;}

.bottom_box{width: 1170px; height: 56px; margin: 0 auto;}
.bottom_box ul li{float: left; margin-right: 30px;}
.bottom_box ul li a{font-size: 11px; line-height: 56px; font-family: 'Montserrat'; color: #b9bed1;}
.bottom_box ul li.on a{color: #343e5c;}
.bottom_box .right{float: right;}
.bottom_box p{float: left; margin-right: 54px; font-size: 11px; line-height: 56px; font-family: 'Montserrat'; color: #b9bed1; cursor: pointer;}
.bottom_box img{display: block; float: left; padding: 21.5px 0; cursor: pointer;}
.bottom_box input{position: relative; float: left; width: 140px; height: 20px; margin: 18px 0; padding-left: 5px; border: none;}
.bottom_box input::placeholder{font-size: 11px; font-weight: bold; font-family: 'Montserrat'; color: #b9bed1; transform: translateY(-3px);}

#visual{width: 100%; background: #1c1e23; overflow: hidden;}
#visual .wrap{position: relative; width: 1170px; height: 500px; margin: 0 auto;}
#visual h2{padding-top: 100px; padding-left: 100px; margin-bottom: 32px; font-size: 42px; line-height: 52px; font-weight: bold; font-family: 'Montserrat'; color: #fff;}
#visual p{padding-left: 100px; margin-bottom: 60px; font-size: 16px; line-height: 24px; font-family: 'Montserrat'; color: #fff;}
#visual .btn{display: block; width: 165px; height: 42px; margin-left: 100px; border-radius: 19px; font-size: 11px; text-align: center; line-height: 42px; font-family: 'Montserrat'; color: #fff; background: #2754eb;}
#visual .wrap > img{position: absolute; top: -100px; left: 800px; width: 300px;}
#visual .next{position: absolute; right: 0; top: 50%; width: 42px; height: 42px; border: 1px solid #45474b; border-radius: 50%; transform: translateY(-50%); cursor: pointer;}
#visual .next img{display: block; margin: 15px auto;}

#content{width: 100%; height: 2400px; padding-top: 50px; background: #e4e5e7; clear: both;}


.sort{width: 1170px; height: 56px; margin: 0 auto; border-radius: 5px; background: #fff;}
.sort .wrap{width: 100%; height: 56px; display: table-cell; vertical-align: middle;}
.sort p{display: inline-block; margin-left: 50px; font-size: 11px; color: #343e5c;}
.sort select{width: 100px; height: 15px; margin-left: 47px; border: none; font-size: 11px; color: #343e5c;}
.sort select option{font-size: 11px; color: #343e5c;}
.sort p:nth-of-type(2){margin-left: 53px;}
.sort .keywords{width: 163px; height: 32px; padding-left: 15px; border: 1px solid #e9edf3; border-radius: 16px; background: #f0f2f7; transform: translateY(2px);}
.sort .keywords::placeholder{font-size: 13px; color:#b9bfd3;}
.sort p:nth-of-type(3){margin-left: 34px;}
.sort .price{width: 64px; height: 32px; padding-left: 15px; border: 1px solid #e9edf3; border-radius: 16px; background: #f0f2f7; transform: translateY(2px);}
.sort .price::placeholder{font-size: 13px; color: #343e5c;}
.sort .free_shipping{display: none;}
.sort .free_shipping + label{display: inline-block; width: 20px; height: 20px; margin-left: 32px; border: 1px solid #1be5b3; border-radius: 9px; background: none; transform: translateY(7px);}
.sort .free_shipping + label::after{display: block; content: ''; clear: both;}
.sort .free_shipping:checked{background: #00e2aa;}
.sort label{}
.sort label p{margin-left: 20px;}
.sort p:nth-of-type(5){margin-left: 70px;}
.sort select:nth-of-type(2){width: 43px; height: 15px; margin-left: 81px; border: none; font-size: 11px; color: #343e5c;}
